flows/example.json
[
    {
        "id": "7f4898794d681177",
        "type": "tab",
        "label": "ams-demo",
        "disabled": false,
        "info": "ams-demo"
    },
    {
        "id": "e296f4e787c86da2",
        "type": "http in",
        "z": "7f4898794d681177",
        "name": "获取示例列表",
        "url": "/example/list",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 160,
        "wires": [
            [
                "766e0c01d77f8941"
            ]
        ]
    },
    {
        "id": "766e0c01d77f8941",
        "type": "function",
        "z": "7f4898794d681177",
        "name": "验证参数",
        "func": "// GET请求的参数在msg.payload中\nmsg.params = msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 160,
        "wires": [
            [
                "db92d138ed127c24"
            ]
        ]
    },
    {
        "id": "dec12a9d0530ad0b",
        "type": "function",
        "z": "7f4898794d681177",
        "name": "格式化响应",
        "func": "// 获取查询参数\nconst { current = 1, pageSize = 10, code, name, status } = msg.params || {};\n// sql查表结果\nconst list = msg.payload[0] && msg.payload[0].json.data || [];\n\n// 根据查询参数过滤数据\nlet filteredData = list;\n\nif (code) {\n    filteredData = filteredData.filter(item => item.code && item.code.toLowerCase().includes(code.toLowerCase()));\n}\n\nif (name) {\n    filteredData = filteredData.filter(item => item.name && item.name.toLowerCase().includes(name.toLowerCase()));\n}\n\nif (status) {\n    filteredData = filteredData.filter(item => item.status && item.status.toLowerCase().includes(status.toLowerCase()));\n}\n\n// 计算分页\nconst total = filteredData.length;\nconst startIndex = (current - 1) * pageSize;\nconst endIndex = startIndex + parseInt(pageSize);\nlet records = filteredData.slice(startIndex, endIndex);\n\n// 构建响应\nconst response = {\n  code: 200,\n  success: true,\n  data: {\n    records: records,\n    current: parseInt(current),\n    pageSize: parseInt(pageSize),\n    total: total\n  }\n};\n\nmsg.payload = response;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 160,
        "wires": [
            [
                "49d332c341e207f6"
            ]
        ]
    },
    {
        "id": "49d332c341e207f6",
        "type": "http response",
        "z": "7f4898794d681177",
        "name": "返回响应",
        "statusCode": "200",
        "headers": {},
        "x": 1060,
        "y": 160,
        "wires": []
    },
    {
        "id": "db92d138ed127c24",
        "type": "postgresql",
        "z": "7f4898794d681177",
        "name": "searchExample",
        "query": "select * from \"example\" ORDER BY \"timeStamp\" DESC limit 1;",
        "postgreSQLConfig": "c48ecc2ef69b5a15",
        "split": false,
        "rowsPerMsg": "1",
        "outputs": 1,
        "x": 650,
        "y": 160,
        "wires": [
            [
                "dec12a9d0530ad0b"
            ]
        ]
    },
    {
        "id": "5c573233307a4f68",
        "type": "http in",
        "z": "7f4898794d681177",
        "name": "获取示例详情",
        "url": "/example/detail",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 260,
        "wires": [
            [
                "4dde92236f06c6d3"
            ]
        ]
    },
    {
        "id": "4dde92236f06c6d3",
        "type": "function",
        "z": "7f4898794d681177",
        "name": "验证参数",
        "func": "// GET请求的参数在msg.payload中\nmsg.params = msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 260,
        "wires": [
            [
                "976a7604acd22fe9"
            ]
        ]
    },
    {
        "id": "5dbf210ba5f8cb84",
        "type": "function",
        "z": "7f4898794d681177",
        "name": "格式化响应",
        "func": "// 获取查询参数\nconst { id } = msg.params || {};\n// sql查表结果\nconst list = msg.payload[0] && msg.payload[0].json.data || [];\n\n// 查找指定ID的示例\nconst example = list.find(item => item.id === id);\n\nif (!example) {\n    msg.payload = {\n        code: 400,\n        success: false,\n        message: \"examplePage.exampleNotFound\"\n    };\n    return msg;\n}\n\n// 构建响应\nconst response = {\n  code: 200,\n  success: true,\n  data: example\n};\n\nmsg.payload = response;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 260,
        "wires": [
            [
                "89a5008f31e9d9df"
            ]
        ]
    },
    {
        "id": "89a5008f31e9d9df",
        "type": "http response",
        "z": "7f4898794d681177",
        "name": "返回响应",
        "statusCode": "200",
        "headers": {},
        "x": 1070,
        "y": 260,
        "wires": []
    },
    {
        "id": "976a7604acd22fe9",
        "type": "postgresql",
        "z": "7f4898794d681177",
        "name": "searchExample",
        "query": "select * from \"example\" ORDER BY \"timeStamp\" DESC limit 1;",
        "postgreSQLConfig": "c48ecc2ef69b5a15",
        "split": false,
        "rowsPerMsg": "1",
        "outputs": 1,
        "x": 630,
        "y": 260,
        "wires": [
            [
                "5dbf210ba5f8cb84"
            ]
        ]
    },
    {
        "id": "1d5997cfc0e269a1",
        "type": "http in",
        "z": "7f4898794d681177",
        "name": "创建示例",
        "url": "/example/create",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 380,
        "wires": [
            [
                "530ed9ea1ba6d166"
            ]
        ]
    },
    {
        "id": "530ed9ea1ba6d166",
        "type": "function",
        "z": "7f4898794d681177",
        "name": "验证参数",
        "func": "// POST请求的参数在msg.payload中\nmsg.params = msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 380,
        "wires": [
            [
                "86d0d32d8a817a6f"
            ]
        ]
    },
    {
        "id": "188c83d231c83269",
        "type": "function",
        "z": "7f4898794d681177",
        "name": "格式化响应",
        "func": "// 获取查询参数\nconst { code, name, description, status, ...formData } = msg.params || {};\nconst oldList = (msg.payload[0] && msg.payload[0].json && msg.payload[0].json.data) || [];\n\n// 验证必填字段\nif (!code || !name) {\n    msg.payload = { code: 400, success: false, message: \"examplePage.requiredFieldsEmpty\" };\n    return [null, msg];\n}\n\n// 校验code唯一性\nif (oldList.find(item => item.code === code)) {\n    msg.payload = { code: 400, success: false, message: \"examplePage.codeExists\" };\n    return [null, msg];\n}\n\n// 生成新示例ID\nconst id = `example_${Date.now()}_${Math.random().toString(36).substr(2, 6)}`;\n\n// 创建新示例对象\nconst newExample = {\n    ...formData,\n    id,\n    code,\n    name,\n    description: description || '',\n    status: status || 'active',\n    created_by: \"system\",\n    created_at: new Date().getTime(),\n    updated_at: new Date().getTime()\n};\n\n// 将新示例添加到列表\nconst newList = [...oldList, newExample];\n\n// 更新数据库\nconst mqttMsg = { payload: { data: newList } };\n\n// 构建响应\nmsg.payload = { code: 200, success: true, data: newExample, message: \"examplePage.createSuccess\" };\n\nreturn [mqttMsg, msg];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 380,
        "wires": [
            [
                "d50423196ca94a18"
            ],
            [
                "b2f54671809945c1"
            ]
        ]
    },
    {
        "id": "86d0d32d8a817a6f",
        "type": "postgresql",
        "z": "7f4898794d681177",
        "name": "searchExample",
        "query": "select * from \"example\" ORDER BY \"timeStamp\" DESC limit 1;",
        "postgreSQLConfig": "c48ecc2ef69b5a15",
        "split": false,
        "rowsPerMsg": "1",
        "outputs": 1,
        "x": 630,
        "y": 380,
        "wires": [
            [
                "188c83d231c83269"
            ]
        ]
    },
    {
        "id": "faecad2da9265031",
        "type": "http in",
        "z": "7f4898794d681177",
        "name": "更新示例",
        "url": "/example/update",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 480,
        "wires": [
            [
                "9b0bd53e9cedc7f2"
            ]
        ]
    },
    {
        "id": "9b0bd53e9cedc7f2",
        "type": "function",
        "z": "7f4898794d681177",
        "name": "验证参数",
        "func": "// POST请求的参数在msg.payload中\nmsg.params = msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 480,
        "wires": [
            [
                "8dcd5bea455b14a1"
            ]
        ]
    },
    {
        "id": "08f53e3e88e7908f",
        "type": "function",
        "z": "7f4898794d681177",
        "name": "格式化响应",
        "func": "// 获取查询参数\nconst { id, code, name, description, status } = msg.params || {};\n\n// 验证必填字段\nif (!id || !code || !name) {\n    msg.payload = { code: 400, success: false, message: \"examplePage.requiredFieldsEmpty\" };\n    return [null, msg];\n}\n\n// 查找要更新的示例\nconst oldList = (msg.payload[0] && msg.payload[0].json && msg.payload[0].json.data) || [];\nconst exampleIndex = oldList.findIndex(item => item.id === id);\n\nif (exampleIndex === -1) {\n    msg.payload = { code: 400, success: false, message: \"examplePage.exampleNotFound\" };\n    return [null, msg];\n}\n\n// 校验code唯一性（排除当前示例）\nconst duplicateCode = oldList.find(item => item.code === code && item.id !== id);\n\nif (duplicateCode) {\n    msg.payload = { code: 400, success: false, message: \"examplePage.codeExists\" };\n    return [null, msg];\n}\n\nconst oldItem = oldList[exampleIndex] || {};\n// 更新示例\nconst updatedExample = {\n    ...oldItem,\n    code,\n    name,\n    description: description || '',\n    status: status || 'active',\n    updated_by: \"system\",\n    updated_at: new Date().getTime()\n};\n\n// 更新列表\nconst newList = [...oldList];\nnewList[exampleIndex] = updatedExample;\n\n// 更新数据库\nconst mqttMsg = { payload: { data: newList } };\n\n// 构建响应\nmsg.payload = { code: 200, success: true, data: updatedExample, message: \"examplePage.updateSuccess\" };\n\nreturn [mqttMsg, msg];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 480,
        "wires": [
            [
                "98e43a685528e360"
            ],
            [
                "391c51520dc36f59"
            ]
        ]
    },
    {
        "id": "391c51520dc36f59",
        "type": "http response",
        "z": "7f4898794d681177",
        "name": "返回响应",
        "statusCode": "200",
        "headers": {},
        "x": 1080,
        "y": 520,
        "wires": []
    },
    {
        "id": "8dcd5bea455b14a1",
        "type": "postgresql",
        "z": "7f4898794d681177",
        "name": "searchExample",
        "query": "select * from \"example\" ORDER BY \"timeStamp\" DESC limit 1;",
        "postgreSQLConfig": "c48ecc2ef69b5a15",
        "split": false,
        "rowsPerMsg": "1",
        "outputs": 1,
        "x": 630,
        "y": 480,
        "wires": [
            [
                "08f53e3e88e7908f"
            ]
        ]
    },
    {
        "id": "d50423196ca94a18",
        "type": "mqtt out",
        "z": "7f4898794d681177",
        "name": "exampleBroker",
        "topic": "Demo/ERP/State/example",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "85bb67b2dbefe3ba",
        "x": 1080,
        "y": 340,
        "wires": []
    },
    {
        "id": "6d46f2422bd201f8",
        "type": "http in",
        "z": "7f4898794d681177",
        "name": "删除示例",
        "url": "/example/delete",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 580,
        "wires": [
            [
                "a19182283935a652"
            ]
        ]
    },
    {
        "id": "a19182283935a652",
        "type": "function",
        "z": "7f4898794d681177",
        "name": "验证参数",
        "func": "// GET请求的参数在msg.payload中\nmsg.params = msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 580,
        "wires": [
            [
                "901b3144b84a164b"
            ]
        ]
    },
    {
        "id": "d5766cc6006b8014",
        "type": "function",
        "z": "7f4898794d681177",
        "name": "格式化响应",
        "func": "// 获取查询参数\nconst { id } = msg.params || {};\n\n// 验证必填字段\nif (!id) {\n    msg.payload = { code: 400, success: false, message: \"examplePage.idRequired\" };\n    return [null, msg];\n}\n\n// 查找要删除的示例\nconst oldList = (msg.payload[0] && msg.payload[0].json && msg.payload[0].json.data) || [];\nconst exampleIndex = oldList.findIndex(item => item.id === id);\n\nif (exampleIndex === -1) {\n    msg.payload = { code: 400, success: false, message: \"examplePage.exampleNotFound\" };\n    return [null, msg];\n}\n\n// 删除示例\noldList.splice(exampleIndex, 1);\n\n// 更新数据库\nconst mqttMsg = { payload: { data: oldList } };\n\n// 构建响应\nmsg.payload = { code: 200, success: true, message: \"examplePage.deleteSuccess\" };\n\nreturn [mqttMsg, msg];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 580,
        "wires": [
            [
                "7c9c54aca1017620"
            ],
            [
                "ac230edc219d4426"
            ]
        ]
    },
    {
        "id": "ac230edc219d4426",
        "type": "http response",
        "z": "7f4898794d681177",
        "name": "返回响应",
        "statusCode": "200",
        "headers": {},
        "x": 1080,
        "y": 620,
        "wires": []
    },
    {
        "id": "901b3144b84a164b",
        "type": "postgresql",
        "z": "7f4898794d681177",
        "name": "searchExample",
        "query": "select * from \"example\" ORDER BY \"timeStamp\" DESC limit 1;",
        "postgreSQLConfig": "c48ecc2ef69b5a15",
        "split": false,
        "rowsPerMsg": "1",
        "outputs": 1,
        "x": 630,
        "y": 580,
        "wires": [
            [
                "d5766cc6006b8014"
            ]
        ]
    },
    {
        "id": "98e43a685528e360",
        "type": "mqtt out",
        "z": "7f4898794d681177",
        "name": "exampleBroker",
        "topic": "Demo/ERP/State/example",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "85bb67b2dbefe3ba",
        "x": 1080,
        "y": 460,
        "wires": []
    },
    {
        "id": "7c9c54aca1017620",
        "type": "mqtt out",
        "z": "7f4898794d681177",
        "name": "exampleBroker",
        "topic": "Demo/ERP/State/example",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "85bb67b2dbefe3ba",
        "x": 1080,
        "y": 560,
        "wires": []
    },
    {
        "id": "b2f54671809945c1",
        "type": "http response",
        "z": "7f4898794d681177",
        "name": "返回响应",
        "statusCode": "200",
        "headers": {},
        "x": 1080,
        "y": 400,
        "wires": []
    },
    {
        "id": "4932109ceeced80d",
        "type": "catch",
        "z": "7f4898794d681177",
        "name": "",
        "uncaught": false,
        "x": 520,
        "y": 660,
        "wires": [
            [
                "b18b1badef66b773"
            ]
        ]
    },
    {
        "id": "fc703cca983bef91",
        "type": "http response",
        "z": "7f4898794d681177",
        "name": "返回响应",
        "statusCode": "200",
        "headers": {},
        "x": 960,
        "y": 660,
        "wires": []
    },
    {
        "id": "b18b1badef66b773",
        "type": "function",
        "z": "7f4898794d681177",
        "name": "错误返回处理",
        "func": "msg.payload = { code: 400, success: false, message: msg.payload }; return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 660,
        "wires": [
            [
                "fc703cca983bef91"
            ]
        ]
    },
    {
        "id": "c48ecc2ef69b5a15",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "postgresql",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "postgres",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "postgres",
        "userFieldType": "str",
        "password": "postgres",
        "passwordFieldType": "str"
    },
    {
        "id": "85bb67b2dbefe3ba",
        "type": "mqtt-broker",
        "name": "emqx:1883",
        "broker": "emqx",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]