flows/unit.json
[
    {
        "id": "unit_list_flow",
        "type": "tab",
        "label": "单位管理流程",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3f3c9c8a.8a2b64",
        "type": "http in",
        "z": "unit_list_flow",
        "name": "获取单位列表",
        "url": "/demo/unit/list",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 120,
        "wires": [["d4f7b3a9.2c3a2"]]
    },
    {
        "id": "d4f7b3a9.2c3a2",
        "type": "function",
        "z": "unit_list_flow",
        "name": "验证参数",
        "func": "// POST请求的参数在msg.payload中\nmsg.params = msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 120,
        "wires": [["e6c1d9e4.8c6f9"]]
    },
    {
        "id": "e6c1d9e4.8c6f9",
        "type": "postgresql",
        "z": "unit_list_flow",
        "name": "searchUnit",
        "query": "select * from \"unit_of_measure\" ORDER BY \"timeStamp\" DESC limit 1;",
        "postgreSQLConfig": "c48ecc2ef69b5a15",
        "split": false,
        "rowsPerMsg": "1",
        "outputs": 1,
        "x": 530,
        "y": 120,
        "wires": [["f7b3c9d4.3a2b64"]]
    },
    {
        "id": "f7b3c9d4.3a2b64",
        "type": "function",
        "z": "unit_list_flow",
        "name": "格式化响应",
        "func": "// 获取查询参数\nconst { current = 1, pageSize = 10, unit_code, unit_name } = msg.params || {};\n// sql查表结果\nconst list = msg.payload[0] && msg.payload[0].json.data || [];\n\n// 根据查询参数过滤数据\nlet filteredData = list;\n\nif (unit_code) {\n    filteredData = filteredData.filter(item => item.unit_code && item.unit_code.toLowerCase().includes(unit_code.toLowerCase()));\n}\n\nif (unit_name) {\n    filteredData = filteredData.filter(item => item.unit_name && item.unit_name.toLowerCase().includes(unit_name.toLowerCase()));\n}\n\n// 计算分页\nconst total = filteredData.length;\nconst startIndex = (current - 1) * pageSize;\nconst endIndex = startIndex + parseInt(pageSize);\nlet records = filteredData.slice(startIndex, endIndex);\n\n// 构建响应\nconst response = {\n  code: 200,\n  success: true,\n  data: {\n    records: records,\n    current: parseInt(current),\n    pageSize: parseInt(pageSize),\n    total: total\n  }\n};\n\nmsg.payload = response;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 120,
        "wires": [["a2b64f7b.3c9d4"]]
    },
    {
        "id": "a2b64f7b.3c9d4",
        "type": "http response",
        "z": "unit_list_flow",
        "name": "返回响应",
        "statusCode": "200",
        "headers": {},
        "x": 940,
        "y": 120,
        "wires": []
    },
    {
        "id": "b64f7b3a.9d4e6c",
        "type": "http in",
        "z": "unit_list_flow",
        "name": "获取单位详情",
        "url": "/demo/unit/detail",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 220,
        "wires": [["3c9d4e6c.1f7b3a"]]
    },
    {
        "id": "3c9d4e6c.1f7b3a",
        "type": "function",
        "z": "unit_list_flow",
        "name": "验证参数",
        "func": "// GET请求的参数在msg.payload中\nmsg.params = msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 220,
        "wires": [["9d4e6c1f.7b3a2b"]]
    },
    {
        "id": "9d4e6c1f.7b3a2b",
        "type": "postgresql",
        "z": "unit_list_flow",
        "name": "searchUnit",
        "query": "select * from \"unit_of_measure\" ORDER BY \"timeStamp\" DESC limit 1;",
        "postgreSQLConfig": "c48ecc2ef69b5a15",
        "split": false,
        "rowsPerMsg": "1",
        "outputs": 1,
        "x": 510,
        "y": 220,
        "wires": [["7b3a2b64.f7b3c9"]]
    },
    {
        "id": "7b3a2b64.f7b3c9",
        "type": "function",
        "z": "unit_list_flow",
        "name": "格式化响应",
        "func": "// 获取查询参数\nconst { unit_code } = msg.params || {};\n// sql查表结果\nconst list = msg.payload[0] && msg.payload[0].json.data || [];\n\n// 查找指定unit_code的单位\nconst unit = list.find(item => item.unit_code === unit_code);\n\nif (!unit) {\n    msg.payload = {\n        code: 400,\n        success: false,\n        message: \"unitPage.unitNotFound\"\n    };\n    return msg;\n}\n\n// 构建响应\nconst response = {\n  code: 200,\n  success: true,\n  data: unit\n};\n\nmsg.payload = response;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 220,
        "wires": [["f7b3c9d4.3a2b65"]]
    },
    {
        "id": "f7b3c9d4.3a2b65",
        "type": "http response",
        "z": "unit_list_flow",
        "name": "返回响应",
        "statusCode": "200",
        "headers": {},
        "x": 950,
        "y": 220,
        "wires": []
    },
    {
        "id": "a2b64f7b.3c9d4e",
        "type": "http in",
        "z": "unit_list_flow",
        "name": "创建单位",
        "url": "/demo/unit/create",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 340,
        "wires": [["3c9d4e6c.7b3a2b"]]
    },
    {
        "id": "3c9d4e6c.7b3a2b",
        "type": "function",
        "z": "unit_list_flow",
        "name": "验证参数",
        "func": "// POST请求的参数在msg.payload中\nmsg.params = msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 340,
        "wires": [["9d4e6c1f.2b64f7"]]
    },
    {
        "id": "9d4e6c1f.2b64f7",
        "type": "postgresql",
        "z": "unit_list_flow",
        "name": "searchUnit",
        "query": "select * from \"unit_of_measure\" ORDER BY \"timeStamp\" DESC limit 1;",
        "postgreSQLConfig": "c48ecc2ef69b5a15",
        "split": false,
        "rowsPerMsg": "1",
        "outputs": 1,
        "x": 510,
        "y": 340,
        "wires": [["7b3a2b64.d4e6c1"]]
    },
    {
        "id": "7b3a2b64.d4e6c1",
        "type": "function",
        "z": "unit_list_flow",
        "name": "格式化响应",
        "func": "// 获取查询参数\nconst { unit_code, unit_name, ...formData } = msg.params || {};\nconst oldList = (msg.payload[0] && msg.payload[0].json && msg.payload[0].json.data) || [];\n\n// 验证必填字段\nif (!unit_code || !unit_name) {\n    msg.payload = { code: 400, success: false, message: \"unitPage.requiredFieldsEmpty\" };\n    return [null, msg];\n}\n\n// 校验unit_code唯一性\nif (oldList.find(item => item.unit_code === unit_code)) {\n    msg.payload = { code: 400, success: false, message: \"unitPage.codeExists\" };\n    return [null, msg];\n}\n\n// 校验unit_name唯一性\nif (oldList.find(item => item.unit_name === unit_name)) {\n    msg.payload = { code: 400, success: false, message: \"unitPage.nameExists\" };\n    return [null, msg];\n}\n\n// 创建新单位对象\nconst newUnit = {\n    ...formData,\n    unit_code,\n    unit_name\n};\n// 将新单位添加到列表\nconst newList = [...oldList, newUnit];\n\n// 更新数据库\nconst mqttMsg = { payload: { data: newList } };\n// 构建响应\nmsg.payload = { code: 200, success: true, data: newUnit, message: \"unitPage.createSuccess\" };\nreturn [mqttMsg, msg];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 340,
        "wires": [["d4e6c1f7.3c9d4e"], ["6c1f7b3a.2b64f7"]]
    },
    {
        "id": "d4e6c1f7.3c9d4e",
        "type": "mqtt out",
        "z": "unit_list_flow",
        "name": "unitBroker",
        "topic": "Demo/ERP/State/unit_of_measure",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "85bb67b2dbefe3ba",
        "x": 960,
        "y": 320,
        "wires": []
    },
    {
        "id": "6c1f7b3a.2b64f7",
        "type": "http response",
        "z": "unit_list_flow",
        "name": "返回响应",
        "statusCode": "200",
        "headers": {},
        "x": 960,
        "y": 360,
        "wires": []
    },
    {
        "id": "b64f7b3a.3c9d4e",
        "type": "http in",
        "z": "unit_list_flow",
        "name": "更新单位",
        "url": "/demo/unit/update",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 440,
        "wires": [["3c9d4e6c.1f7b3b"]]
    },
    {
        "id": "3c9d4e6c.1f7b3b",
        "type": "function",
        "z": "unit_list_flow",
        "name": "验证参数",
        "func": "// POST请求的参数在msg.payload中\nmsg.params = msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 440,
        "wires": [["9d4e6c1f.7b3a2c"]]
    },
    {
        "id": "9d4e6c1f.7b3a2c",
        "type": "postgresql",
        "z": "unit_list_flow",
        "name": "searchUnit",
        "query": "select * from \"unit_of_measure\" ORDER BY \"timeStamp\" DESC limit 1;",
        "postgreSQLConfig": "c48ecc2ef69b5a15",
        "split": false,
        "rowsPerMsg": "1",
        "outputs": 1,
        "x": 510,
        "y": 440,
        "wires": [["7b3a2b64.f7b3c8"]]
    },
    {
        "id": "7b3a2b64.f7b3c8",
        "type": "function",
        "z": "unit_list_flow",
        "name": "格式化响应",
        "func": "// 获取查询参数\nconst { unit_code, unit_name } = msg.params || {};\n\n// 验证必填字段\nif (!unit_code || !unit_name) {\n    msg.payload = { code: 400, success: false, message: \"unitPage.requiredFieldsEmpty\" };\n    return [null, msg];\n}\n\n// 查找要更新的单位\nconst oldList = (msg.payload[0] && msg.payload[0].json && msg.payload[0].json.data) || [];\nconst unitIndex = oldList.findIndex(item => item.unit_code === unit_code);\n\nif (unitIndex === -1) {\n    msg.payload = { code: 400, success: false, message: \"unitPage.unitNotFound\" };\n    return [null, msg];\n}\n\n// 校验unit_name唯一性（排除当前单位）\nconst duplicateName = oldList.find(item => item.unit_name === unit_name && item.unit_code !== unit_code);\n\nif (duplicateName) {\n    msg.payload = { code: 400, success: false, message: \"unitPage.nameExists\" };\n    return [null, msg];\n}\n\nconst oldItem = oldList[unitIndex] || {};\n// 更新单位\nconst updatedUnit = {\n    ...oldItem,\n    unit_name\n};\n\n// 更新列表\nconst newList = [...oldList];\nnewList[unitIndex] = updatedUnit;\n\n// 更新数据库\nconst mqttMsg = { payload: { data: newList } };\n// 构建响应\nmsg.payload = { code: 200, success: true, data: updatedUnit, message: \"unitPage.updateSuccess\" };\nreturn [mqttMsg, msg];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 440,
        "wires": [["d4e6c1f7.7b3a2b"], ["6c1f7b3a.9d4e6c"]]
    },
    {
        "id": "d4e6c1f7.7b3a2b",
        "type": "mqtt out",
        "z": "unit_list_flow",
        "name": "unitBroker",
        "topic": "Demo/ERP/State/unit_of_measure",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "85bb67b2dbefe3ba",
        "x": 960,
        "y": 420,
        "wires": []
    },
    {
        "id": "6c1f7b3a.9d4e6c",
        "type": "http response",
        "z": "unit_list_flow",
        "name": "返回响应",
        "statusCode": "200",
        "headers": {},
        "x": 960,
        "y": 460,
        "wires": []
    },
    {
        "id": "a2b64f7b.9d4e6c",
        "type": "http in",
        "z": "unit_list_flow",
        "name": "删除单位",
        "url": "/demo/unit/delete",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 540,
        "wires": [["3c9d4e6c.2b64f7"]]
    },
    {
        "id": "3c9d4e6c.2b64f7",
        "type": "function",
        "z": "unit_list_flow",
        "name": "验证参数",
        "func": "// GET请求的参数在msg.payload中\nmsg.params = msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 540,
        "wires": [["9d4e6c1f.3c9d4e"]]
    },
    {
        "id": "9d4e6c1f.3c9d4e",
        "type": "postgresql",
        "z": "unit_list_flow",
        "name": "searchUnit",
        "query": "select * from \"unit_of_measure\" ORDER BY \"timeStamp\" DESC limit 1;",
        "postgreSQLConfig": "c48ecc2ef69b5a15",
        "split": false,
        "rowsPerMsg": "1",
        "outputs": 1,
        "x": 510,
        "y": 540,
        "wires": [["7b3a2b64.d4e6c2"]]
    },
    {
        "id": "7b3a2b64.d4e6c2",
        "type": "function",
        "z": "unit_list_flow",
        "name": "格式化响应",
        "func": "// 获取查询参数\nconst { unit_code } = msg.params || {};\n\n// 验证必填字段\nif (!unit_code) {\n    msg.payload = { code: 400, success: false, message: \"unitPage.codeRequired\" };\n    return [null, msg];\n}\n\n// 查找要删除的单位\nconst oldList = (msg.payload[0] && msg.payload[0].json && msg.payload[0].json.data) || [];\nconst unitIndex = oldList.findIndex(item => item.unit_code === unit_code);\n\nif (unitIndex === -1) {\n    msg.payload = { code: 400, success: false, message: \"unitPage.unitNotFound\" };\n    return [null, msg];\n}\n\n// 删除单位\noldList.splice(unitIndex, 1);\n\n// 更新数据库\nconst mqttMsg = { payload: { data: oldList } };\n// 构建响应\nmsg.payload = { code: 200, success: true, message: \"unitPage.deleteSuccess\" };\nreturn [mqttMsg, msg];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 540,
        "wires": [["d4e6c1f7.9d4e6c"], ["6c1f7b3a.3c9d4e"]]
    },
    {
        "id": "d4e6c1f7.9d4e6c",
        "type": "mqtt out",
        "z": "unit_list_flow",
        "name": "unitBroker",
        "topic": "Demo/ERP/State/unit_of_measure",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "85bb67b2dbefe3ba",
        "x": 960,
        "y": 520,
        "wires": []
    },
    {
        "id": "6c1f7b3a.3c9d4e",
        "type": "http response",
        "z": "unit_list_flow",
        "name": "返回响应",
        "statusCode": "200",
        "headers": {},
        "x": 960,
        "y": 560,
        "wires": []
    },
    {
        "id": "e6c1d9e4.8c6fa",
        "type": "catch",
        "z": "unit_list_flow",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 400,
        "y": 620,
        "wires": [["d4f7b3a9.2c3a3"]]
    },
    {
        "id": "d4f7b3a9.2c3a3",
        "type": "function",
        "z": "unit_list_flow",
        "name": "错误返回处理",
        "func": "msg.payload = { code: 400, success: false, message: msg.payload }; return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 620,
        "wires": [["a2b64f7b.3c9d5"]]
    },
    {
        "id": "a2b64f7b.3c9d5",
        "type": "http response",
        "z": "unit_list_flow",
        "name": "返回响应",
        "statusCode": "200",
        "headers": {},
        "x": 840,
        "y": 620,
        "wires": []
    },
    {
        "id": "c48ecc2ef69b5a15",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "postgresql",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "postgres",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "postgres",
        "userFieldType": "str",
        "password": "postgres",
        "passwordFieldType": "str"
    },
    {
        "id": "85bb67b2dbefe3ba",
        "type": "mqtt-broker",
        "name": "emqx:1883",
        "broker": "emqx",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]